<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@koakos">
    <meta name="twitter:creator" content="@koakos">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Logger | App">
    <meta name="twitter:description" content="Logger | App.">

    <!-- Facebook -->
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Logger | App">

    <!-- Meta -->
    <meta name="description" content="Logger | App">
    <meta name="author" content="koakos">


    <title>Logger | App </title>

     {% load static %}


    <!-- magen-iot-admin CSS -->
    <link rel="stylesheet" href="{% static 'logger/css/magen-iot-admin.css' %}">
  </head>

  <body>

    <div class="ht-100v d-flex align-items-center justify-content-center">
      <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
        <h1 class="tx-100 tx-xs-140 tx-normal tx-gray-800 mg-b-0">404!</h1>
        <h5 class="tx-xs-24 tx-normal tx-gray-600 mg-b-30 lh-5">The page your are looking for has not been found.</h5>
        <p class="tx-16 mg-b-30">The page you are looking for might have been removed, had its name changed,
or unavailable. Maybe you could try a search:</p>
      </div>
    </div><!-- ht-100v -->
  </body>
</html>
